---
import { Image } from "astro:assets";
import { projects } from "../../lib/static";
let data = projects;
---

<h1 class="text-xl font-bold mt-6 font-serif">Projects</h1>
<div
  class="hover-parent mx-auto space-y-6 lg:space-y-0 lg:gap-6 lg:grid lg:grid-cols-3"
>
  {
    data.map((item, index) => (
      <div
        class="hover:z-5
        transition-all "
      >
        <div class="bg-white group hover:outline-dashed dark:outline dark:hover:outline-dashed outline-slate-600">
          <a
            href={item.live || item.github || "#!"}
            target="_blank"
            rel="noreferrer "
            data-mdb-ripple="true"
            data-mdb-ripple-color="light"
            aria-label={`${item.title}`}
          >
            <Image
              src={item.thumbnail}
              class="object-cover object-left-top hover:animate-objtoright w-full lg:h-48 thumbnails"
              alt={item.title}
              width="100"
              height="100"
              loading="lazy"
              data-thumbnail={item.thumbnail}
              data-thumbnail-dark={item?.thumbnail_dark}
            />
          </a>
          <div class="px-3 py-2 dark:bg-black">
            <h2 class="text-gray-900 dark:text-gray-100 text-lg font-bold mb-2">
              {item.title}
            </h2>
            <p class="text-gray-700 dark:text-gray-100 text-sm mb-4">
              {item.description}
            </p>
            <div class="flex gap-2 flex-wrap">
              {item.tech?.map((each, index) => (
                <span class="py-1 px-2 border rounded-sm text-slate-500 dark:text-gray-100 font-medium uppercase text-[11px]">
                  {each}
                </span>
              ))}
            </div>
          </div>
          <div class="flex space-x-2 flex-wrap pt-3 px-3 border-t border-t-slate-100 dark:bg-black">
            {item.live && (
              <a
                class="transition flex-grow text-gray-900 hover:text-white border border-gray-200 hover:bg-gray-900 font-medium rounded-sm text-sm px-3 py-1.5 text-center mb-2 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 grid place-content-center"
                target="_blank"
                href={item?.live}
              >
                Preview
              </a>
            )}
            {item.github && (
              <a
                class="transition flex-grow text-gray-900 hover:text-white border border-gray-200 hover:bg-gray-900  font-medium rounded-sm text-sm px-3 py-1.5 text-center mb-2 dark:border-gray-600 dark:text-white dark:hover:text-white dark:hover:bg-gray-700  grid place-content-center"
                target="_blank"
                href={item?.github}
              >
                Github
              </a>
            )}
          </div>
        </div>
      </div>
    ))
  }
</div>

<!-- <div class="absolute inset-0 z-10 h-full w-full grid place-content-center links bg-black backdrop-blur-sm bg-opacity-60 text-white -translate-y-full group-hover:translate-y-0 transition-transform ease-in duration-75">
  <div class="flex space-x-4">
    {item.live && <a href={item?.live} target="_blank" class="px-4 py-2 rounded-sm border font-medium uppercase text-sm hover:scale-110 hover:bg-slate-700 transition-all">
      Live
    </a>}
    {item.github && <a href={item?.github} target="_blank" class="px-4 py-2 rounded-sm border font-medium uppercase text-sm hover:scale-110 hover:bg-slate-700 transition-all">
      Github
    </a>}
</div>
</div> -->
